.homePage-wrapper {
    width: 1200px;
    margin: 5px auto;
    padding: 15px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: white;
}

.homePage-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.user-email {
    margin-right: 15px;
}

.homePage-content {
    display: flex;
}

.blank {
    height: 400px;
}

.homePage-aside {
    height: 100%;
    margin-top: -60px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: #0b5ed7;
    color: white;
    border-radius: 0;
    border-color: #0d6efd;
    cursor: pointer;
}

.card-title {
    margin-top: 25px;
}

.card i {
    margin-top: 15px;
}