.loginPage-wrapper, .signupPage-wrapper, .forgetPass-wrapper, .editPass-wrapper {
  width: 25%;
  margin: 0 auto;
  background-color: aliceblue;
  padding: 15px 30px;
  border-radius: 10px;
}

.loginPage-form__content {
  display: flex;
  flex-direction: column;
}

.error {
  font-size: 12px;
  color: red;
  margin: 0 0 15px;
}

.socialLogin {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
}

.fa-envelope-square, .fa-lock {
  margin-right: 5px;
}
